.main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .menu-search {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .menu-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  .menu-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .menu-title {
    font-size: 20px;
    margin: 10px 0;
    color: #333;
  }
  
  .menu-price {
    font-size: 18px;
    color: #e60000;
  }
  
  .menu-desc {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .add-to-cart-btn {
    background-color: #e60000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  
  .add-to-cart-btn svg {
    margin-left: 8px;
  }
  
  .add-to-cart-btn:hover {
    background-color: #cc0000;
  }
  